p button[data-component="modal"] {
    all: inherit;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    color: blue
}

p button[data-component="modal"] span {
    pointer-events: none
}

[data-modal-overlay] {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.cmp-modal {
    position: fixed;
    top: 5em;
    width: 80%;
    height: 50%;
    left: calc(10% - 10px);
    background: white;
    padding: 0 1px 1px 0
}

.cmp-modal button[data-close-modal] {
    display: none
}

.cmp-modal .cmp-modal-header {
    height: 40px
}

.cmp-modal .cmp-modal-header [data-close-modal] {
    position: absolute;
    right: 18px;
    top: 18px;
    display: block;
    background: url(../images/icons/close.svg) no-repeat center center;
    background-size: cover;
    border: 0;
    color: #4f535f;
    height: 25px;
    width: 25px;
    cursor: pointer
}

.cmp-modal .cmp-modal_content {
    height: calc(100% - 60px);
    overflow: auto;
    padding: 10px 0 10px 10px
}

.cmp-modal .cmp-modal_content button[data-close-modal] {
    display: inline-block
}

.cmp-cta {
    background: #ddd;
    border: 1px solid #000;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box
}

.cmp-cta:active,
.cmp-cta:hover,
.cmp-cta:focus {
    background-color: #eee
}

.cmp-cta .cmp-cta-text {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    pointer-events: none
}